extends master.pug

block scripts
    script.
        function onRecaptchaSuccess() {
            document.querySelector('#message-submit').disabled = false
        }

    script.
        var $input = $('#markup-input').counter('#markup-counter', 3, 300)

    script(src='https://www.google.com/recaptcha/api.js')



block content
    include mixins/render-message.pug

    div.jumbotron.text-center(style="background-color: inherit;")
        h1
            a(href="/", style="color: #333;")
                | koa-skeleton
        img(src="/img/skeleton.png", height="75", width="75", alt="skeleton icon")
        p(style="margin-top: 15px;")
            | A simple
            |
            a(href="http://koajs.com/", target="_blank") Koa
            |  + Postgres webapp demonstration
            br
            | that comes with useful abstractions and
            br
            | boilerplate that work for me
        a.btn.btn-lg.btn-success(href="https://github.com/danneu/koa-skeleton", target="_blank", style="margin-bottom: 20px;")
            | View on GitHub
            p(style="font-size: 14px; margin-bottom: 5px;") Just clone, gut, and modify
        a(href="https://heroku.com/deploy?template=https://github.com/danneu/koa-skeleton", style="display: block")
            img(src="https://www.herokucdn.com/deploy/button.svg", alt="Deploy")
    div.row
        div.col-lg-6.col-lg-offset-3
            form(method="POST" action="/messages")
                div.panel.panel-default
                    div.panel-body
                        p.lead.text-center Leave a message
                        div.form-group
                            textarea.form-control(
                                id="markup-input"
                                rows="4"
                                name="markup"
                                placeholder="Click here and begin typing..."
                                required
                                maxlength="300"
                            )= ctx.flash.params && ctx.flash.params.markup
                            div.help-block Note: There is a 5 second ratelimit.
                        if config.RECAPTCHA_SYSTEM_ONLINE
                            div.form-group.text-center
                                div.g-recaptcha.recaptcha-center(
                                    data-sitekey=recaptchaSitekey
                                    data-callback="onRecaptchaSuccess"
                                )
                        else
                            div.alert.alert-warning.text-center
                                | Recaptcha unconfigured
                    div.panel-footer.text-right
                        span.text-muted#markup-counter
                            | 0/300
                            |
                        button#message-submit.btn.btn-default(disabled=true)
                            | Submit
                            |
                            if ctx.currUser
                                | as #{ctx.currUser.uname}
                            else
                                | anonymously

            h2 Recent Messages

            if messages.length === 0
                | No messages. Wanna be the first?
            else
                each message in messages
                    +renderMessage(ctx, message)
                p.text-center
                    div.col-lg-6.col-lg-offset-3
                        a.btn.btn-default.btn-block(href="/messages")
                            | View All &rarr;


