extends master.pug


block content
    include mixins/timeago.pug
    include mixins/render-message.pug

    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/users") Users
        li.active
            a(href=user.url style="color: inherit")
                = user.uname

    div.page-header
        div.media
            div.media-left
                a(href=user.url)
                    img.media-object.thumbnail(
                        src=belt.toAvatarUrl(user.uname)
                        alt=`${user.uname} avatar`
                        height=128
                        width=128
                    )
            div.media-body
                h1
                    a(href=user.url style="color: #333")
                        = user.uname
                    |
                    |
                    small= belt.capitalize(user.role)
                    if cancan.can(ctx.currUser, 'UPDATE_USER_*', user)
                        |
                        |
                        a.btn.btn-xs.btn-default(href=`${user.url}/edit`)
                            | Edit
                ul
                    li Joined
                        |
                        |
                        +timeago(user.created_at)
                    li Last online
                        |
                        |
                        +timeago(user.last_online_at)
    h2
        if ctx.currUser && ctx.currUser.id === user.id
            | Your
        else
            | Their
        |
        | Recent Messages

    if messages.length === 0
        | No messages.
    else
        each message in messages
            +renderMessage(ctx, message)

