extends master.pug


block content
    include mixins/timeago.pug
    include mixins/paginate.pug

    ol.breadcrumb
        li
            a(href="/") Home
        li.active
            | Users

    div.page-header
        h1 Users
            |
            |
            small= `${usersCount} total`

    +paginate(paginator)

    table.table
        thead
            tr
                th User
                if cancan.isAdmin(ctx.currUser)
                    th Email
                th Messages
                th Joined
                th Last Online
                th Role
        tbody
            each user in users
                +userRow(user)

    +paginate(paginator)

mixin userRow(user)
    tr
        td
            a(href=user.url)
                img(
                    src=belt.toAvatarUrl(user.uname)
                    alt=`${user.uname} avatar`
                    height=32
                    width=32
                )
            |
            |
            a(href=user.url)= user.uname
        if cancan.isAdmin(ctx.currUser)
            td
                if user.email
                    code= user.email
                else
                    | --
        td= user.messages_count
        td
            +timeago(user.created_at)
        td
            +timeago(user.last_online_at)
        if can(ctx.currUser, 'UPDATE_USER_ROLE', user)
            td
                form(method="POST" action=`${user.url}/role`)
                    input(type="hidden" name="_method" value="PUT")
                    input(type="hidden" name="redirectTo" value="/users")
                    select(name="role")
                        for role in ['ADMIN', 'MOD', 'MEMBER', 'BANNED']
                            option(value=role selected=(user.role === role))
                                = belt.capitalize(role)
                                if user.role === role
                                    | &larr;
                    |
                    |
                    button.btn.btn-xs.btn-default(type="submit") Save
        else
            td
                if user.role === 'ADMIN'
                    span.label.label-primary= belt.capitalize(user.role)
                else if user.role === 'MOD'
                    span.label.label-info= belt.capitalize(user.role)
                else if user.role === 'BANNED'
                    span.label.label-danger= belt.capitalize(user.role)
                else
                    = belt.capitalize(user.role)







